//colors
$badass: #bada55;
$yellow: #e6db74;
$pink: #f92772;
$lightblue: #66d9ee;
$purple: #a881ff;
$green: #a6e12d;
$blue: #3071c5;
$red: #ff0000;
$crimson: #750202;   
$lightgreen: #dBf5c8;
$lightorange: #fff2de;
$lightred: #ffd8d8;
$black: #000;
$grey: lighten($black, 50%);
$almostblack: lighten($black, 20%);
$twitterblue: #4099ff;
$facebookblue: #3b5998;
$instagramred: #663300;
$white: #fff;
$darkblue: darken($blue, 15%);
$almostwhite: darken($white, 5%);